<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
    <title>Admin Profile</title>
    <style></style>
</head>

<body>
    <div id="a">
        <div id="books">
            <h3>Books available in Library</h3>
            <form action="/admin/availablebooks" method="POST">
                <input type="submit" id="button" value="Show!" />
            </form>
            <div id="table" style="width:20vw">
                <table>
                    <% if(locals.available){ %>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                        </tr>
                        <% available.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                                <td>
                                    <%= book.quantity %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </table>
            </div>
        </div>

        <div id="books">
            <h3>Books with Clients</h3>
            <form action="/admin/unavailable" method="POST">
                <input type="submit" id="button" value="Show!" />
            </form>
            <div id="table">
                <table>
                    <% if(locals.unavailable){ %>
                        <tr>
                            <th>Name</th>
                            <th>User</th>
                        </tr>
                        <% unavailable.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                                <td>
                                    <%=book.user %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </table>
            </div>
        </div>
    </div>
    <div id="b">
        <form action="/admin/addbook" method="POST">
            <br>
            <input type="text" name="name" id="entry" placeholder="BOOK NAME">
            <input type="text" name="quantity" id="entry" placeholder="Quantity">
            <br><br>
            <input type="submit" id="button" value="Add Book" />
        </form>
        <form action="/admin/removebook" method="POST">
            <br>
            <input type="text" name="name" id="entry" placeholder="BOOK NAME">
            <input type="text" name="quantity" id="entry" placeholder="Quantity">
            <br><br>
            <input type="submit" id="button" value="Remove Book" />
        </form>
    </div>
    <br><br>
    <div id="lists">
        <div id="c">
            <h4 id>List of Checkouts</h4>
            <div id="table">
                <% if(locals.approval){ %>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>User</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                        <% approval.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                                <td>
                                    <%= book.user %>
                                </td>
                                <div id="buttons">
                                    <td>
                                        <form action="/admin/approved" method="POST">
                                            <input type="text" name="bname" value="<%=book.name %>"
                                                style="display:none">
                                            <input type="text" name="uname" value="<%=book.user %>"
                                                style="display:none">
                                            <input type="text" name="quantity" value="<%=book.quantity %>"
                                                style="display:none">
                                            <input type="submit" value="Approve" id="button">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/disapproved" method="POST">
                                            <input type="text" name="bname" value="<%=book.name %>"
                                                style="display:none">
                                            <input type="text" name="uname" value="<%=book.user %>"
                                                style="display:none">
                                            <input type="text" name="quantity" value="<%=book.quantity %>"
                                                style="display:none">
                                            <input type="submit" value="Disapprove" id="button">
                                        </form>
                                    </td>
                                </div>
                            </tr>

                            <% }); %>
                                <% } %>
                    </table>
            </div>
            <br>
            <form action="/admin/checkout" method="POST" style="padding-top: 2vh ;">
                <input type="submit" id="button" value="See!" />
            </form>
        </div>
        <div id="c">
            <h4>List of Checkins</h4>
            <div id="table">
                <table>
                    <% if(locals.ret){ %>
                        <tr>
                            <th>Name</th>
                            <th>User</th>
                            <th>Fees</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                        <% ret.forEach(function(book) { %>
                            <% let today=new Date(); %>
                                <% let fees=(today.getFullYear() - book.year) * 365 + (today.getMonth() - book.month) *
                                    30 + (today.getDate() - book.day); %>
                                    <tr>
                                        <td>
                                            <%= book.name %>
                                        </td>
                                        <td>
                                            <%= book.user %>
                                        </td>
                                        <td>
                                            <%=fees%>
                                        </td>
                                        <div id="buttons">
                                            <td>
                                                <form action="/admin/approvedreturn" method="POST">
                                                    <input type="text" name="bname" value="<%=book.name %>"
                                                        style="display:none">
                                                    <input type="text" name="uname" value="<%=book.user %>"
                                                        style="display:none">
                                                    <input type="text" name="quantity" value="<%=book.quantity %>"
                                                        style="display:none">
                                                    <input type="submit" value="Approve" id="button">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/admin/disapprovedreturn" method="POST">
                                                    <input type="text" name="bname" value="<%=book.name %>"
                                                        style="display:none">
                                                    <input type="text" name="uname" value="<%=book.user %>"
                                                        style="display:none">
                                                    <input type="text" name="uname" value="<%=book.quantity %>"
                                                        style="display:none">
                                                    <input type="submit" value="Disapprove" id="button">
                                                </form>
                                            </td>
                                    </tr>
            </div>
            <% }); %>
                <% } %>
                    </table>
        </div>
        <form action="/admin/checkin" method="POST" style="padding-top: 2vh;">
            <input type="submit" id="button" value="See!" />
        </form>
    </div>
    <div id="c">
        <h4>Admin Requests</h4>
        <div id="table">
            <table>
                <% if(locals.adminrequests){ %>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                    <% adminrequests.forEach(function(request) { %>
                        <tr>
                            <td>
                                <%= request.user %>
                            </td>

                            <div id="buttons">
                                <td>
                                    <form action="/admin/approvedadmin" method="POST">
                                        <input type="text" name="name" value="<%=request.user %>" style="display:none">
                                        <input type="submit" value="Approve" id="button">
                                    </form>
                                </td>
                                <td>
                                    <form action="/admin/disapprovedadmin" method="POST">
                                        <input type="text" name="name" value="<%=request.user %>" style="display:none">
                                        <input type="submit" value="Disapprove" id="button">
                                    </form>
                                </td>
                            </div>
                            </li>
                            <% }); %>
                                <% } %>
            </table>
        </div>

        <form action="/admin/showadminrequests" method="POST">
            <input type="submit" id="button" value="See!" />
        </form>
    </div>
    </div>
    <br><br><br>
    <div>
        <form action="/admin/logout" method="post" id="logout">
            <button id="foo">Logout</button>
        </form>
    </div>

</body>

</html>