<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client profile</title>
    <script src="client.js"></script>
</head>
<body>
    <form action="/addbook" method="POST">
        <input type="text" name="ID" value="<%=SessionID %>" style="display:none">
        <br>
        <input id="user" type="text" name="uname" value="<%=uname %>" style="display:none">
        <br>
        <input type="text" name="name" placeholder="BOOK NAME">
        <br>
        <input type="submit" value="Add Book" />
    </form>

    <form action="/removebook" method="POST">
        <input type="text" name="ID" value="<%=SessionID %>" style="display:none">
        <br>
        <input type="text" name="uname" value="<%=uname %>" style="display:none">
        <br>
        <input type="text" name="name" placeholder="BOOK NAME">
        <br>
        <input type="submit" value="Remove Book" />
    </form>
    <h3>Your books</h3>
    <form action="/list1" method="POST">
        <input type="text" name="ID" value="<%=SessionID %>" style="display:none">
        <br>
        <input type="text" name="uname" value="<%=uname %>" style="display:none">
        <br>
        <input type="submit" value="Show!" />
    </form>
    <ul id="l1">
            <% if(locals.mylist){ %>
                <% mylist.forEach(function(book) { %>
                    <li> Name: <%= book.name %> </li>
                    <% }); %>
                        <% } %>
    </ul>
    <h3>Available Books</h3>
    <form action="/list2" method="POST">
        <input type="text" name="ID" value="<%=SessionID %>" style="display:none">
        <br>
        <input type="submit" value="Show!" />
    </form>
    <ul id="l2">
        <% if(locals.available){ %>
            <% available.forEach(function(book) { %>
                <li> Name: <%= book.name %> </li>
                <% }); %>
                    <% } %>
    </ul>
    <br><br>
    <form action="/logout" method="post">
        <button name="foo">Logout</button>
    </form>
</body>
</html>