<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/client.css" />
    <title>Client profile</title>
</head>

<body>
    <br><br>
    <h2>Hi <%=uname %>!</h2>
    <br><br>
    <div id="lists">
        <div id="c">
            <h3>Your books</h3>
            <div id="table">
                <table>
                    <% if(locals.mylist){ %>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        <% mylist.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                                <td>
                                    <form action="/client/returnbook" method="POST">
                                        <input type="text" name="uname" value="<%=uname %>" style="display:none">
                                        <input type="text" name="name" id="entry" value="<%=book.name %>"
                                            style="display:none">
                                        <input type="text" name="quantity" id="entry" value="1" style="display:none">
                                        <input type="submit" id="button" value="Return Book" />
                                    </form>
                                </td>
                            </tr>

                            <% }); %>
                                <% } %>
                </table>
            </div>
            <form action="/client/list1" method="POST">
                <input type="text" name="uname" value="<%=uname %>" style="display:none">
                <input type="submit" id="button" value="Show!" />
            </form>
        </div>
        <div id="c">
            <h3>Requested Books</h3>
            <div id="table">
                <table>
                    <% if(locals.requested){ %>
                        <tr>
                            <th>Name</th>
                        </tr>
                        <% requested.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </table>
            </div>
            <form action="/client/requestedbooks" method="POST">
                <input type="text" name="uname" value="<%=uname %>" style="display:none">
                <input type="submit" id="button" value="Show!" />
            </form>
        </div>
        <div id="c">
            <h3>Rejected Requests</h3>
            <div id="table">
                <table>
                    <% if(locals.rejected){ %>
                        <tr>
                            <th>Name</th>
                        </tr>
                        <% rejected.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </table>
            </div>
            <form action="/client/rejectedrequests" method="POST">
                <input type="text" name="uname" value="<%=uname %>" style="display:none">
                <input type="submit" id="button" value="Show!" />
            </form>
        </div>
        <div id="c">
            <h3>Available Books</h3>
            <div id="table">
                <table>
                    <% if(locals.available){ %>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        <% available.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.name %>
                                </td>
                                <td>
                                    <form action="/client/requestbook" method="POST">
                                        <input id="user" type="text" name="uname" value="<%=uname %>"
                                            style="display:none">
                                        <input type="text" name="name" id="entry" value="<%=book.name %>"
                                            style="display:none">
                                        <input type="text" name="quantity" id="entry" value="1" style="display:none">
                                        <input type="submit" id="button" value="Request Book" />
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </table>
            </div>
            <form action="/client/availablebooks" method="POST">
                <input type="text" name="uname" value="<%=uname %>" style="display:none">
                <input type="submit" id="button" value="Show!" />
            </form>
        </div>
    </div>

    <br><br><br><br>
    <form action="/client/logout" method="post" id="logout">
        <button name="foo" id="foo">Logout</button>
    </form>
</body>

</html>